:root {
    --txt-hover: rgb(102, 121, 129);;
    --txt-default: rgb(250,250,250);
    --verde: rgb(150, 201, 62);
    --gris-oscuro: rgb(67, 78, 83);
}

#navbar {
    text-align: center;
    padding: 1.6em 1.2em 1.6em;
    background-color: rgb(43, 50, 53);
    color: var(--txt-default);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 3;
    opacity: .9;
}
#navbar-menu a{
    text-decoration: none;
    color: var(--txt-default);
    transition: all .1s;

}
#navbar-menu a:hover{
    color: var(--txt-hover);
    transition: all .4s;
}

#navbar-logo{
    padding: 0 0 25px 0;
}
#navbar-img {
    width: 8.6em;
    padding: 0;
    margin: 0;
}

#navbar-title {
    padding: 0 !important;
    margin: 5px;
    
}

#intro-txt{
    margin: 0 auto;
    box-sizing: content-box; 
}
.navbar-menu-items {
    padding-left: 2em;
}
#intro-txt p{
    padding: 0; margin: 0;
}

#intro {
    width: 100%;
    height: 60vh;
    background: rgba(0, 0, 0, 0.6) url(img/fondoIntrod.jpeg);    
    text-align: center;
    color: rgb(220, 220, 220);
    background-blend-mode: darken;
}
#intro-txt {
    width: 210px;
    padding: 3em;
}

#oradores{
    text-align: center;
    padding: 4em 2em;
}
#oradores-title{
    padding-bottom: 2.5em;
}
#oradores-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#oradores-cards div {
    margin: 0 auto;
    width: 15em;
}
#ubicacion-img, #ubicacion-txt{
    width: 100%;
}

#ubicacion-txt{
    color: var(--txt-default);
    padding: 2em;
    background: var(--gris-oscuro);
}
#ubicacion-txt h2 {
    display: flex;
    justify-content: space-between;
}
#inscripcion {
    padding: 5em;
}

#inscripcion div p span {
    border-bottom: black dotted 2px;
}
#inscripcion-form {
    width: 70%;
    margin: 0 auto;
}
#inscripcion-form div input[type="submit"]{
    background-color: var(--verde);
}


#footer{
    text-align: center;
    padding: 2em;
    background: linear-gradient(to left ,rgb(74, 105, 123), rgb(42, 57, 64));
}
#footer p{
    display: inline;
    padding: 8px;
    color: var(--txt-default);
    transition: all .1s;


}
#footer p:hover {
    color: var(--txt-hover);
    transition: all .4s;
}
/*clases generales */
.inline {
    display: inline;
}


@media only screen and (min-width: 480px){
    #intro {
        position: relative;
    }
    #intro-txt {
        width: 40%;
        padding: 3em 5em 5em 3em;
        position: absolute;
        bottom: 0; right: 0;
        text-align: right;
    }
}
@media only screen and (min-width: 820px){
    #narbar-logo {
        text-align: right;

    }
    #oradores-cards {
        flex-direction: row;
    }
    #oradores-cards div {
        margin: 0;
    }
    #footer p {
        padding: 15px;
    }
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #navbar *{
        display: inline;
        padding: 0 20px 0 20px;
    }
    #ubicacion {
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: static;
    }
    #ubicacion-img, #ubicacion-txt{
        width: 50%;
    }
    #ubicacion-txt{
        position: static;
        background: var(--gris-oscuro);
    }

}
